.favcontainer {
  .favcontainer2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, max-content));
    gap: 20px;
    width: 90%;
    margin: auto;
    margin-top: 1em;
    .favcard {
      padding: 10px;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
      border-radius: 5px;
    }
    .emptyfav{
      display: grid;
      align-items: center;
      justify-content: center;
      img{
        margin-top: 50px;

      }
    }
  }
}
